PanoptoScheduleUploader.Services/Service References/SessionManagement/SessionManagement1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SessionManagement" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_ISessionManagement_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://demo.hosted.panopto.com/Panopto/PublicAPI/4.2/SessionManagement.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://demo.hosted.panopto.com/Panopto/PublicAPI/4.2/SessionManagement.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://demo.hosted.panopto.com/Panopto/PublicAPI/4.2/SessionManagement.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Panopto.Server.Services.PublicAPI.V40" />
      <xsd:import schemaLocation="http://demo.hosted.panopto.com/Panopto/PublicAPI/4.2/SessionManagement.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Panopto.Server.Services.PublicAPI.V42.Soap" />
      <xsd:import schemaLocation="http://demo.hosted.panopto.com/Panopto/PublicAPI/4.2/SessionManagement.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISessionManagement_AddFolder_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFolder" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_AddFolder_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFolderResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_AddSession_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSession" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_AddSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSessionResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_GetFoldersById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFoldersById" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_GetFoldersById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFoldersByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_GetFoldersByExternalId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFoldersByExternalId" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_GetFoldersByExternalId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFoldersByExternalIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_GetAllFoldersByExternalId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFoldersByExternalId" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_GetAllFoldersByExternalId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFoldersByExternalIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_GetSessionsById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSessionsById" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_GetSessionsById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSessionsByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_GetSessionsByExternalId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSessionsByExternalId" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_GetSessionsByExternalId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSessionsByExternalIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_GetSessionsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSessionsList" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_GetSessionsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSessionsListResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_GetFoldersList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFoldersList" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_GetFoldersList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFoldersListResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_UpdateSessionName_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSessionName" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_UpdateSessionName_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSessionNameResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_UpdateSessionDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSessionDescription" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_UpdateSessionDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSessionDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_UpdateSessionIsBroadcast_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSessionIsBroadcast" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_UpdateSessionIsBroadcast_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSessionIsBroadcastResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_UpdateSessionOwner_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSessionOwner" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_UpdateSessionOwner_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSessionOwnerResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_MoveSessions_InputMessage">
    <wsdl:part name="parameters" element="tns:MoveSessions" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_MoveSessions_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoveSessionsResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_UpdateSessionExternalId_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSessionExternalId" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_UpdateSessionExternalId_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSessionExternalIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_UpdateFolderName_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFolderName" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_UpdateFolderName_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFolderNameResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_UpdateFolderDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFolderDescription" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_UpdateFolderDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFolderDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_UpdateFolderEnablePodcast_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFolderEnablePodcast" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_UpdateFolderEnablePodcast_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFolderEnablePodcastResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_UpdateFolderAllowPublicNotes_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFolderAllowPublicNotes" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_UpdateFolderAllowPublicNotes_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFolderAllowPublicNotesResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_UpdateFolderAllowSessionDownload_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFolderAllowSessionDownload" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_UpdateFolderAllowSessionDownload_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFolderAllowSessionDownloadResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_UpdateFolderParent_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFolderParent" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_UpdateFolderParent_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFolderParentResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_UpdateFolderExternalId_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFolderExternalId" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_UpdateFolderExternalId_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFolderExternalIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_DeleteSessions_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSessions" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_DeleteSessions_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSessionsResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_DeleteFolders_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFolders" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_DeleteFolders_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFoldersResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_ProvisionExternalCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:ProvisionExternalCourse" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_ProvisionExternalCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProvisionExternalCourseResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_SetExternalCourseAccess_InputMessage">
    <wsdl:part name="parameters" element="tns:SetExternalCourseAccess" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_SetExternalCourseAccess_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetExternalCourseAccessResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_GetRecorderDownloadUrls_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecorderDownloadUrls" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_GetRecorderDownloadUrls_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecorderDownloadUrlsResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_CreateNoteByRelativeTime_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNoteByRelativeTime" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_CreateNoteByRelativeTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNoteByRelativeTimeResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_CreateNoteByAbsoluteTime_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNoteByAbsoluteTime" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_CreateNoteByAbsoluteTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNoteByAbsoluteTimeResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_EditNote_InputMessage">
    <wsdl:part name="parameters" element="tns:EditNote" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_EditNote_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditNoteResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_DeleteNote_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNote" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_DeleteNote_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNoteResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_GetNote_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNote" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_GetNote_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNoteResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_ListNotes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListNotes" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_ListNotes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListNotesResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_AreUsersNotesPublic_InputMessage">
    <wsdl:part name="parameters" element="tns:AreUsersNotesPublic" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_AreUsersNotesPublic_OutputMessage">
    <wsdl:part name="parameters" element="tns:AreUsersNotesPublicResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_SetNotesPublic_InputMessage">
    <wsdl:part name="parameters" element="tns:SetNotesPublic" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_SetNotesPublic_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetNotesPublicResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_IsDropbox_InputMessage">
    <wsdl:part name="parameters" element="tns:IsDropbox" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_IsDropbox_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsDropboxResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_CreateCaptionByRelativeTime_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCaptionByRelativeTime" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_CreateCaptionByRelativeTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCaptionByRelativeTimeResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_CreateCaptionByAbsoluteTime_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCaptionByAbsoluteTime" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_CreateCaptionByAbsoluteTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCaptionByAbsoluteTimeResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_UploadTranscript_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadTranscript" />
  </wsdl:message>
  <wsdl:message name="ISessionManagement_UploadTranscript_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadTranscriptResponse" />
  </wsdl:message>
  <wsdl:portType name="ISessionManagement">
    <wsdl:operation name="AddFolder">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManagement/AddFolder" message="tns:ISessionManagement_AddFolder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManagement/AddFolderResponse" message="tns:ISessionManagement_AddFolder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSession">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManagement/AddSession" message="tns:ISessionManagement_AddSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManagement/AddSessionResponse" message="tns:ISessionManagement_AddSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFoldersById">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManagement/GetFoldersById" message="tns:ISessionManagement_GetFoldersById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManagement/GetFoldersByIdResponse" message="tns:ISessionManagement_GetFoldersById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFoldersByExternalId">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManagement/GetFoldersByExternalId" message="tns:ISessionManagement_GetFoldersByExternalId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManagement/GetFoldersByExternalIdResponse" message="tns:ISessionManagement_GetFoldersByExternalId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFoldersByExternalId">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManagement/GetAllFoldersByExternalId" message="tns:ISessionManagement_GetAllFoldersByExternalId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManagement/GetAllFoldersByExternalIdResponse" message="tns:ISessionManagement_GetAllFoldersByExternalId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSessionsById">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManagement/GetSessionsById" message="tns:ISessionManagement_GetSessionsById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManagement/GetSessionsByIdResponse" message="tns:ISessionManagement_GetSessionsById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSessionsByExternalId">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManagement/GetSessionsByExternalId" message="tns:ISessionManagement_GetSessionsByExternalId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManagement/GetSessionsByExternalIdResponse" message="tns:ISessionManagement_GetSessionsByExternalId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSessionsList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManagement/GetSessionsList" message="tns:ISessionManagement_GetSessionsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManagement/GetSessionsListResponse" message="tns:ISessionManagement_GetSessionsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFoldersList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManagement/GetFoldersList" message="tns:ISessionManagement_GetFoldersList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManagement/GetFoldersListResponse" message="tns:ISessionManagement_GetFoldersList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSessionName">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManagement/UpdateSessionName" message="tns:ISessionManagement_UpdateSessionName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManagement/UpdateSessionNameResponse" message="tns:ISessionManagement_UpdateSessionName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSessionDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManagement/UpdateSessionDescription" message="tns:ISessionManagement_UpdateSessionDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManagement/UpdateSessionDescriptionResponse" message="tns:ISessionManagement_UpdateSessionDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSessionIsBroadcast">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManagement/UpdateSessionIsBroadcast" message="tns:ISessionManagement_UpdateSessionIsBroadcast_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManagement/UpdateSessionIsBroadcastResponse" message="tns:ISessionManagement_UpdateSessionIsBroadcast_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSessionOwner">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManagement/UpdateSessionOwner" message="tns:ISessionManagement_UpdateSessionOwner_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManagement/UpdateSessionOwnerResponse" message="tns:ISessionManagement_UpdateSessionOwner_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoveSessions">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManagement/MoveSessions" message="tns:ISessionManagement_MoveSessions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManagement/MoveSessionsResponse" message="tns:ISessionManagement_MoveSessions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSessionExternalId">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManagement/UpdateSessionExternalId" message="tns:ISessionManagement_UpdateSessionExternalId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManagement/UpdateSessionExternalIdResponse" message="tns:ISessionManagement_UpdateSessionExternalId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFolderName">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManagement/UpdateFolderName" message="tns:ISessionManagement_UpdateFolderName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManagement/UpdateFolderNameResponse" message="tns:ISessionManagement_UpdateFolderName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFolderDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManagement/UpdateFolderDescription" message="tns:ISessionManagement_UpdateFolderDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManagement/UpdateFolderDescriptionResponse" message="tns:ISessionManagement_UpdateFolderDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFolderEnablePodcast">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManagement/UpdateFolderEnablePodcast" message="tns:ISessionManagement_UpdateFolderEnablePodcast_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManagement/UpdateFolderEnablePodcastResponse" message="tns:ISessionManagement_UpdateFolderEnablePodcast_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFolderAllowPublicNotes">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManagement/UpdateFolderAllowPublicNotes" message="tns:ISessionManagement_UpdateFolderAllowPublicNotes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManagement/UpdateFolderAllowPublicNotesResponse" message="tns:ISessionManagement_UpdateFolderAllowPublicNotes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFolderAllowSessionDownload">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManagement/UpdateFolderAllowSessionDownload" message="tns:ISessionManagement_UpdateFolderAllowSessionDownload_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManagement/UpdateFolderAllowSessionDownloadResponse" message="tns:ISessionManagement_UpdateFolderAllowSessionDownload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFolderParent">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManagement/UpdateFolderParent" message="tns:ISessionManagement_UpdateFolderParent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManagement/UpdateFolderParentResponse" message="tns:ISessionManagement_UpdateFolderParent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFolderExternalId">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManagement/UpdateFolderExternalId" message="tns:ISessionManagement_UpdateFolderExternalId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManagement/UpdateFolderExternalIdResponse" message="tns:ISessionManagement_UpdateFolderExternalId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSessions">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManagement/DeleteSessions" message="tns:ISessionManagement_DeleteSessions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManagement/DeleteSessionsResponse" message="tns:ISessionManagement_DeleteSessions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFolders">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManagement/DeleteFolders" message="tns:ISessionManagement_DeleteFolders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManagement/DeleteFoldersResponse" message="tns:ISessionManagement_DeleteFolders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProvisionExternalCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManagement/ProvisionExternalCourse" message="tns:ISessionManagement_ProvisionExternalCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManagement/ProvisionExternalCourseResponse" message="tns:ISessionManagement_ProvisionExternalCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetExternalCourseAccess">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManagement/SetExternalCourseAccess" message="tns:ISessionManagement_SetExternalCourseAccess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManagement/SetExternalCourseAccessResponse" message="tns:ISessionManagement_SetExternalCourseAccess_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecorderDownloadUrls">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManagement/GetRecorderDownloadUrls" message="tns:ISessionManagement_GetRecorderDownloadUrls_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManagement/GetRecorderDownloadUrlsResponse" message="tns:ISessionManagement_GetRecorderDownloadUrls_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNoteByRelativeTime">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManagement/CreateNoteByRelativeTime" message="tns:ISessionManagement_CreateNoteByRelativeTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManagement/CreateNoteByRelativeTimeResponse" message="tns:ISessionManagement_CreateNoteByRelativeTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNoteByAbsoluteTime">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManagement/CreateNoteByAbsoluteTime" message="tns:ISessionManagement_CreateNoteByAbsoluteTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManagement/CreateNoteByAbsoluteTimeResponse" message="tns:ISessionManagement_CreateNoteByAbsoluteTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditNote">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManagement/EditNote" message="tns:ISessionManagement_EditNote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManagement/EditNoteResponse" message="tns:ISessionManagement_EditNote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteNote">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManagement/DeleteNote" message="tns:ISessionManagement_DeleteNote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManagement/DeleteNoteResponse" message="tns:ISessionManagement_DeleteNote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNote">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManagement/GetNote" message="tns:ISessionManagement_GetNote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManagement/GetNoteResponse" message="tns:ISessionManagement_GetNote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListNotes">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManagement/ListNotes" message="tns:ISessionManagement_ListNotes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManagement/ListNotesResponse" message="tns:ISessionManagement_ListNotes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AreUsersNotesPublic">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManagement/AreUsersNotesPublic" message="tns:ISessionManagement_AreUsersNotesPublic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManagement/AreUsersNotesPublicResponse" message="tns:ISessionManagement_AreUsersNotesPublic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetNotesPublic">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManagement/SetNotesPublic" message="tns:ISessionManagement_SetNotesPublic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManagement/SetNotesPublicResponse" message="tns:ISessionManagement_SetNotesPublic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsDropbox">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManagement/IsDropbox" message="tns:ISessionManagement_IsDropbox_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManagement/IsDropboxResponse" message="tns:ISessionManagement_IsDropbox_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCaptionByRelativeTime">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManagement/CreateCaptionByRelativeTime" message="tns:ISessionManagement_CreateCaptionByRelativeTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManagement/CreateCaptionByRelativeTimeResponse" message="tns:ISessionManagement_CreateCaptionByRelativeTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCaptionByAbsoluteTime">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManagement/CreateCaptionByAbsoluteTime" message="tns:ISessionManagement_CreateCaptionByAbsoluteTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManagement/CreateCaptionByAbsoluteTimeResponse" message="tns:ISessionManagement_CreateCaptionByAbsoluteTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadTranscript">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManagement/UploadTranscript" message="tns:ISessionManagement_UploadTranscript_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManagement/UploadTranscriptResponse" message="tns:ISessionManagement_UploadTranscript_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISessionManagement" type="tns:ISessionManagement">
    <wsp:PolicyReference URI="#BasicHttpBinding_ISessionManagement_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddFolder">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/AddFolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSession">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/AddSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFoldersById">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/GetFoldersById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFoldersByExternalId">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/GetFoldersByExternalId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFoldersByExternalId">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/GetAllFoldersByExternalId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSessionsById">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/GetSessionsById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSessionsByExternalId">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/GetSessionsByExternalId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSessionsList">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/GetSessionsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFoldersList">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/GetFoldersList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSessionName">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/UpdateSessionName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSessionDescription">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/UpdateSessionDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSessionIsBroadcast">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/UpdateSessionIsBroadcast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSessionOwner">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/UpdateSessionOwner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveSessions">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/MoveSessions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSessionExternalId">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/UpdateSessionExternalId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFolderName">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/UpdateFolderName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFolderDescription">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/UpdateFolderDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFolderEnablePodcast">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/UpdateFolderEnablePodcast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFolderAllowPublicNotes">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/UpdateFolderAllowPublicNotes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFolderAllowSessionDownload">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/UpdateFolderAllowSessionDownload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFolderParent">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/UpdateFolderParent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFolderExternalId">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/UpdateFolderExternalId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSessions">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/DeleteSessions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFolders">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/DeleteFolders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProvisionExternalCourse">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/ProvisionExternalCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetExternalCourseAccess">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/SetExternalCourseAccess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecorderDownloadUrls">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/GetRecorderDownloadUrls" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNoteByRelativeTime">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/CreateNoteByRelativeTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNoteByAbsoluteTime">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/CreateNoteByAbsoluteTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditNote">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/EditNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNote">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/DeleteNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNote">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/GetNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListNotes">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/ListNotes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AreUsersNotesPublic">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/AreUsersNotesPublic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetNotesPublic">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/SetNotesPublic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsDropbox">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/IsDropbox" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCaptionByRelativeTime">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/CreateCaptionByRelativeTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCaptionByAbsoluteTime">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/CreateCaptionByAbsoluteTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadTranscript">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/UploadTranscript" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ISessionManagement1" type="tns:ISessionManagement">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddFolder">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/AddFolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSession">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/AddSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFoldersById">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/GetFoldersById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFoldersByExternalId">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/GetFoldersByExternalId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFoldersByExternalId">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/GetAllFoldersByExternalId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSessionsById">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/GetSessionsById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSessionsByExternalId">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/GetSessionsByExternalId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSessionsList">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/GetSessionsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFoldersList">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/GetFoldersList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSessionName">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/UpdateSessionName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSessionDescription">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/UpdateSessionDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSessionIsBroadcast">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/UpdateSessionIsBroadcast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSessionOwner">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/UpdateSessionOwner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveSessions">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/MoveSessions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSessionExternalId">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/UpdateSessionExternalId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFolderName">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/UpdateFolderName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFolderDescription">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/UpdateFolderDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFolderEnablePodcast">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/UpdateFolderEnablePodcast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFolderAllowPublicNotes">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/UpdateFolderAllowPublicNotes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFolderAllowSessionDownload">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/UpdateFolderAllowSessionDownload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFolderParent">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/UpdateFolderParent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFolderExternalId">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/UpdateFolderExternalId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSessions">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/DeleteSessions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFolders">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/DeleteFolders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProvisionExternalCourse">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/ProvisionExternalCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetExternalCourseAccess">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/SetExternalCourseAccess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecorderDownloadUrls">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/GetRecorderDownloadUrls" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNoteByRelativeTime">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/CreateNoteByRelativeTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNoteByAbsoluteTime">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/CreateNoteByAbsoluteTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditNote">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/EditNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNote">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/DeleteNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNote">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/GetNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListNotes">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/ListNotes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AreUsersNotesPublic">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/AreUsersNotesPublic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetNotesPublic">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/SetNotesPublic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsDropbox">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/IsDropbox" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCaptionByRelativeTime">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/CreateCaptionByRelativeTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCaptionByAbsoluteTime">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/CreateCaptionByAbsoluteTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadTranscript">
      <soap:operation soapAction="http://tempuri.org/ISessionManagement/UploadTranscript" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SessionManagement">
    <wsdl:port name="BasicHttpBinding_ISessionManagement" binding="tns:BasicHttpBinding_ISessionManagement">
      <soap:address location="https://demo.hosted.panopto.com/Panopto/PublicAPI/4.2/SessionManagement.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_ISessionManagement1" binding="tns:BasicHttpBinding_ISessionManagement1">
      <soap:address location="http://demo.hosted.panopto.com/Panopto/PublicAPI/4.2/SessionManagement.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>