PanoptoScheduleUploader.Services/Service References/SessionManagement/SessionManagement5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Panopto.Server.Services.PublicAPI.V42.Soap" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Panopto.Server.Services.PublicAPI.V42.Soap" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://demo.hosted.panopto.com/Panopto/PublicAPI/4.2/SessionManagement.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://demo.hosted.panopto.com/Panopto/PublicAPI/4.2/SessionManagement.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://demo.hosted.panopto.com/Panopto/PublicAPI/4.2/SessionManagement.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Panopto.Server.Services.PublicAPI.V40" />
  <xs:complexType name="Folder">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllowPublicNotes" type="xs:boolean" />
      <xs:element minOccurs="0" name="AllowSessionDownload" type="xs:boolean" />
      <xs:element minOccurs="0" name="AudioPodcastITunesUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AudioRssUrl" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChildFolders" nillable="true" type="q1:ArrayOfguid" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnablePodcast" type="xs:boolean" />
      <xs:element minOccurs="0" name="ExternalId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="IsPublic" type="xs:boolean" />
      <xs:element minOccurs="0" name="ListUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentFolder" nillable="true" type="ser:guid" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Presenters" nillable="true" type="q2:ArrayOfstring" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Sessions" nillable="true" type="q3:ArrayOfguid" />
      <xs:element minOccurs="0" name="SettingsUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VideoPodcastITunesUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VideoRssUrl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Folder" nillable="true" type="tns:Folder" />
  <xs:complexType name="Session">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatorId" type="ser:guid" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Duration" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="EditorUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExternalId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FolderId" type="ser:guid" />
      <xs:element minOccurs="0" name="FolderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="IosVideoUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsBroadcast" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDownloadable" type="xs:boolean" />
      <xs:element minOccurs="0" name="MP3Url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MP4Url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NotesURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutputsPageUrl" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RemoteRecorderIds" nillable="true" type="q4:ArrayOfguid" />
      <xs:element minOccurs="0" name="SharePageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" nillable="true" type="xs:dateTime" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Panopto.Server.Services.PublicAPI.V40" minOccurs="0" name="State" type="q5:SessionState" />
      <xs:element minOccurs="0" name="StatusMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ThumbUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ViewerUrl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Session" nillable="true" type="tns:Session" />
  <xs:complexType name="ArrayOfFolder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Folder" nillable="true" type="tns:Folder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFolder" nillable="true" type="tns:ArrayOfFolder" />
  <xs:complexType name="ArrayOfSession">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Session" nillable="true" type="tns:Session" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSession" nillable="true" type="tns:ArrayOfSession" />
  <xs:complexType name="ListSessionsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Results" nillable="true" type="tns:ArrayOfSession" />
      <xs:element minOccurs="0" name="TotalNumberResults" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListSessionsResponse" nillable="true" type="tns:ListSessionsResponse" />
  <xs:complexType name="ListFoldersResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Results" nillable="true" type="tns:ArrayOfFolder" />
      <xs:element minOccurs="0" name="TotalNumberResults" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListFoldersResponse" nillable="true" type="tns:ListFoldersResponse" />
</xs:schema>