PanoptoScheduleUploader.Services/Service References/SessionManagement/SessionManagement2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Panopto.Data.Server.Services.PublicAPI.V46" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Panopto.Data.Server.Services.PublicAPI.V46" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://demo.hosted.panopto.com/Panopto/PublicAPI/4.6/SessionManagement.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://demo.hosted.panopto.com/Panopto/PublicAPI/4.6/SessionManagement.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Panopto.Server.Services.PublicAPI.V46.Soap" />
  <xs:complexType name="ArrayOfFolderWithExternalContext">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FolderWithExternalContext" nillable="true" type="tns:FolderWithExternalContext" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFolderWithExternalContext" nillable="true" type="tns:ArrayOfFolderWithExternalContext" />
  <xs:complexType name="FolderWithExternalContext">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Panopto.Server.Services.PublicAPI.V46.Soap" base="q1:FolderBase">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ExternalIds" nillable="true" type="q2:ArrayOfstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FolderWithExternalContext" nillable="true" type="tns:FolderWithExternalContext" />
</xs:schema>