PanoptoScheduleUploader.Services/Service References/SessionManagement/SessionManagement3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Panopto.Server.Services.PublicAPI.V40" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Panopto.Server.Services.PublicAPI.V40" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://demo.hosted.panopto.com/Panopto/PublicAPI/4.6/SessionManagement.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="AuthenticationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserKey" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticationInfo" nillable="true" type="tns:AuthenticationInfo" />
  <xs:simpleType name="SessionState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Created" />
      <xs:enumeration value="Scheduled" />
      <xs:enumeration value="Recording" />
      <xs:enumeration value="Broadcasting" />
      <xs:enumeration value="Processing" />
      <xs:enumeration value="Complete" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SessionState" nillable="true" type="tns:SessionState" />
  <xs:complexType name="ListSessionsRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FolderId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Pagination" nillable="true" type="tns:Pagination" />
      <xs:element minOccurs="0" name="RemoteRecorderId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="SortBy" type="tns:SessionSortField" />
      <xs:element minOccurs="0" name="SortIncreasing" type="xs:boolean" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="States" nillable="true" type="tns:ArrayOfSessionState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListSessionsRequest" nillable="true" type="tns:ListSessionsRequest" />
  <xs:complexType name="Pagination">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaxNumberResults" type="xs:int" />
      <xs:element minOccurs="0" name="PageNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pagination" nillable="true" type="tns:Pagination" />
  <xs:simpleType name="SessionSortField">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Name" />
      <xs:enumeration value="Date" />
      <xs:enumeration value="Duration" />
      <xs:enumeration value="State" />
      <xs:enumeration value="Relevance" />
      <xs:enumeration value="Order" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SessionSortField" nillable="true" type="tns:SessionSortField" />
  <xs:complexType name="ArrayOfSessionState">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SessionState" type="tns:SessionState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSessionState" nillable="true" type="tns:ArrayOfSessionState" />
  <xs:complexType name="ListFoldersRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Pagination" nillable="true" type="tns:Pagination" />
      <xs:element minOccurs="0" name="ParentFolderId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="PublicOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="SortBy" type="tns:FolderSortField" />
      <xs:element minOccurs="0" name="SortIncreasing" type="xs:boolean" />
      <xs:element minOccurs="0" name="WildcardSearchNameOnly" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListFoldersRequest" nillable="true" type="tns:ListFoldersRequest" />
  <xs:simpleType name="FolderSortField">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Name" />
      <xs:enumeration value="Sessions" />
      <xs:enumeration value="Relavance" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FolderSortField" nillable="true" type="tns:FolderSortField" />
  <xs:complexType name="ArrayOfAccessRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccessRole" type="tns:AccessRole" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccessRole" nillable="true" type="tns:ArrayOfAccessRole" />
  <xs:simpleType name="AccessRole">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Creator" />
      <xs:enumeration value="Viewer" />
      <xs:enumeration value="ViewerWithLink" />
      <xs:enumeration value="Publisher" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AccessRole" nillable="true" type="tns:AccessRole" />
  <xs:complexType name="RecorderDownloadUrlResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="MacRecorderDownloadUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WindowsRecorderDownloadUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WindowsRemoteRecorderDownloadUrl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecorderDownloadUrlResponse" nillable="true" type="tns:RecorderDownloadUrlResponse" />
  <xs:complexType name="Note">
    <xs:sequence>
      <xs:element minOccurs="0" name="Channel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatorId" type="ser:guid" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="SessionID" type="ser:guid" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Note" nillable="true" type="tns:Note" />
  <xs:complexType name="ListNotesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Results" nillable="true" type="tns:ArrayOfNote" />
      <xs:element minOccurs="0" name="TotalNumberResults" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListNotesResponse" nillable="true" type="tns:ListNotesResponse" />
  <xs:complexType name="ArrayOfNote">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Note" nillable="true" type="tns:Note" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNote" nillable="true" type="tns:ArrayOfNote" />
</xs:schema>