PanoptoScheduleUploader.Services/Service References/UserManagement/UserManagement43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Panopto.Server.Services.PublicAPI.V40" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Panopto.Server.Services.PublicAPI.V40" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://demo.hosted.panopto.com/Panopto/PublicAPI/4.2/UserManagement.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://demo.hosted.panopto.com/Panopto/PublicAPI/4.2/UserManagement.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="AuthenticationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserKey" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticationInfo" nillable="true" type="tns:AuthenticationInfo" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailSessionNotifications" type="xs:boolean" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GroupMemberships" nillable="true" type="q1:ArrayOfguid" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemRole" type="tns:SystemRole" />
      <xs:element minOccurs="0" name="UserBio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="ser:guid" />
      <xs:element minOccurs="0" name="UserKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserSettingsUrl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:simpleType name="SystemRole">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Videographer" />
      <xs:enumeration value="Admin" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SystemRole" nillable="true" type="tns:SystemRole" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="ListUsersRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Pagination" nillable="true" type="tns:Pagination" />
      <xs:element minOccurs="0" name="SortBy" type="tns:UserSortField" />
      <xs:element minOccurs="0" name="SortIncreasing" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListUsersRequest" nillable="true" type="tns:ListUsersRequest" />
  <xs:complexType name="Pagination">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaxNumberResults" type="xs:int" />
      <xs:element minOccurs="0" name="PageNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pagination" nillable="true" type="tns:Pagination" />
  <xs:simpleType name="UserSortField">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UserKey" />
      <xs:enumeration value="Role" />
      <xs:enumeration value="Added" />
      <xs:enumeration value="LastLogOn" />
      <xs:enumeration value="Email" />
      <xs:enumeration value="FullName" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UserSortField" nillable="true" type="tns:UserSortField" />
  <xs:complexType name="ListUsersResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="PagedResults" nillable="true" type="tns:ArrayOfUser" />
      <xs:element minOccurs="0" name="TotalResultCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListUsersResponse" nillable="true" type="tns:ListUsersResponse" />
  <xs:complexType name="Group">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExternalId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupType" type="tns:GroupType" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="MembershipProviderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemRole" type="tns:SystemRole" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Group" nillable="true" type="tns:Group" />
  <xs:simpleType name="GroupType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ActiveDirectory" />
      <xs:enumeration value="External" />
      <xs:enumeration value="Internal" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GroupType" nillable="true" type="tns:GroupType" />
  <xs:complexType name="ListGroupsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="PagedResults" nillable="true" type="tns:ArrayOfGroup" />
      <xs:element minOccurs="0" name="TotalResultCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListGroupsResponse" nillable="true" type="tns:ListGroupsResponse" />
  <xs:complexType name="ArrayOfGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Group" nillable="true" type="tns:Group" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroup" nillable="true" type="tns:ArrayOfGroup" />
</xs:schema>