PanoptoScheduleUploader.Services/Service References/RemoteRecorderManagement/RemoteRecorderManagement1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RemoteRecorderManagement" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IRemoteRecorderManagement_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://demo.hosted.panopto.com/Panopto/PublicAPI/4.2/RemoteRecorderManagement.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://demo.hosted.panopto.com/Panopto/PublicAPI/4.2/RemoteRecorderManagement.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://demo.hosted.panopto.com/Panopto/PublicAPI/4.2/RemoteRecorderManagement.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Panopto.Server.Services.PublicAPI.V40" />
      <xsd:import schemaLocation="http://demo.hosted.panopto.com/Panopto/PublicAPI/4.2/RemoteRecorderManagement.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://demo.hosted.panopto.com/Panopto/PublicAPI/4.2/RemoteRecorderManagement.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Panopto.Server.Services.PublicAPI.V42.Soap" />
      <xsd:import schemaLocation="http://demo.hosted.panopto.com/Panopto/PublicAPI/4.2/RemoteRecorderManagement.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRemoteRecorderManagement_GetRemoteRecordersById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRemoteRecordersById" />
  </wsdl:message>
  <wsdl:message name="IRemoteRecorderManagement_GetRemoteRecordersById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRemoteRecordersByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IRemoteRecorderManagement_GetRemoteRecordersByExternalId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRemoteRecordersByExternalId" />
  </wsdl:message>
  <wsdl:message name="IRemoteRecorderManagement_GetRemoteRecordersByExternalId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRemoteRecordersByExternalIdResponse" />
  </wsdl:message>
  <wsdl:message name="IRemoteRecorderManagement_UpdateRemoteRecorderExternalId_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRemoteRecorderExternalId" />
  </wsdl:message>
  <wsdl:message name="IRemoteRecorderManagement_UpdateRemoteRecorderExternalId_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRemoteRecorderExternalIdResponse" />
  </wsdl:message>
  <wsdl:message name="IRemoteRecorderManagement_ListRecorders_InputMessage">
    <wsdl:part name="parameters" element="tns:ListRecorders" />
  </wsdl:message>
  <wsdl:message name="IRemoteRecorderManagement_ListRecorders_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListRecordersResponse" />
  </wsdl:message>
  <wsdl:message name="IRemoteRecorderManagement_ScheduleRecording_InputMessage">
    <wsdl:part name="parameters" element="tns:ScheduleRecording" />
  </wsdl:message>
  <wsdl:message name="IRemoteRecorderManagement_ScheduleRecording_OutputMessage">
    <wsdl:part name="parameters" element="tns:ScheduleRecordingResponse" />
  </wsdl:message>
  <wsdl:message name="IRemoteRecorderManagement_ScheduleRecurringRecording_InputMessage">
    <wsdl:part name="parameters" element="tns:ScheduleRecurringRecording" />
  </wsdl:message>
  <wsdl:message name="IRemoteRecorderManagement_ScheduleRecurringRecording_OutputMessage">
    <wsdl:part name="parameters" element="tns:ScheduleRecurringRecordingResponse" />
  </wsdl:message>
  <wsdl:message name="IRemoteRecorderManagement_UpdateRecordingTime_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRecordingTime" />
  </wsdl:message>
  <wsdl:message name="IRemoteRecorderManagement_UpdateRecordingTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRecordingTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IRemoteRecorderManagement_UpdateRecordingSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRecordingSettings" />
  </wsdl:message>
  <wsdl:message name="IRemoteRecorderManagement_UpdateRecordingSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRecordingSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="IRemoteRecorderManagement_GetDefaultFolderForRecorder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDefaultFolderForRecorder" />
  </wsdl:message>
  <wsdl:message name="IRemoteRecorderManagement_GetDefaultFolderForRecorder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDefaultFolderForRecorderResponse" />
  </wsdl:message>
  <wsdl:message name="IRemoteRecorderManagement_GetMachineSidForRecorder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMachineSidForRecorder" />
  </wsdl:message>
  <wsdl:message name="IRemoteRecorderManagement_GetMachineSidForRecorder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMachineSidForRecorderResponse" />
  </wsdl:message>
  <wsdl:portType name="IRemoteRecorderManagement">
    <wsdl:operation name="GetRemoteRecordersById">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemoteRecorderManagement/GetRemoteRecordersById" message="tns:IRemoteRecorderManagement_GetRemoteRecordersById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRemoteRecorderManagement/GetRemoteRecordersByIdResponse" message="tns:IRemoteRecorderManagement_GetRemoteRecordersById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRemoteRecordersByExternalId">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemoteRecorderManagement/GetRemoteRecordersByExternalId" message="tns:IRemoteRecorderManagement_GetRemoteRecordersByExternalId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRemoteRecorderManagement/GetRemoteRecordersByExternalIdResponse" message="tns:IRemoteRecorderManagement_GetRemoteRecordersByExternalId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRemoteRecorderExternalId">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemoteRecorderManagement/UpdateRemoteRecorderExternalId" message="tns:IRemoteRecorderManagement_UpdateRemoteRecorderExternalId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRemoteRecorderManagement/UpdateRemoteRecorderExternalIdResponse" message="tns:IRemoteRecorderManagement_UpdateRemoteRecorderExternalId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListRecorders">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemoteRecorderManagement/ListRecorders" message="tns:IRemoteRecorderManagement_ListRecorders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRemoteRecorderManagement/ListRecordersResponse" message="tns:IRemoteRecorderManagement_ListRecorders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ScheduleRecording">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemoteRecorderManagement/ScheduleRecording" message="tns:IRemoteRecorderManagement_ScheduleRecording_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRemoteRecorderManagement/ScheduleRecordingResponse" message="tns:IRemoteRecorderManagement_ScheduleRecording_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ScheduleRecurringRecording">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemoteRecorderManagement/ScheduleRecurringRecording" message="tns:IRemoteRecorderManagement_ScheduleRecurringRecording_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRemoteRecorderManagement/ScheduleRecurringRecordingResponse" message="tns:IRemoteRecorderManagement_ScheduleRecurringRecording_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRecordingTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemoteRecorderManagement/UpdateRecordingTime" message="tns:IRemoteRecorderManagement_UpdateRecordingTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRemoteRecorderManagement/UpdateRecordingTimeResponse" message="tns:IRemoteRecorderManagement_UpdateRecordingTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRecordingSettings">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemoteRecorderManagement/UpdateRecordingSettings" message="tns:IRemoteRecorderManagement_UpdateRecordingSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRemoteRecorderManagement/UpdateRecordingSettingsResponse" message="tns:IRemoteRecorderManagement_UpdateRecordingSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDefaultFolderForRecorder">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemoteRecorderManagement/GetDefaultFolderForRecorder" message="tns:IRemoteRecorderManagement_GetDefaultFolderForRecorder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRemoteRecorderManagement/GetDefaultFolderForRecorderResponse" message="tns:IRemoteRecorderManagement_GetDefaultFolderForRecorder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMachineSidForRecorder">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemoteRecorderManagement/GetMachineSidForRecorder" message="tns:IRemoteRecorderManagement_GetMachineSidForRecorder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRemoteRecorderManagement/GetMachineSidForRecorderResponse" message="tns:IRemoteRecorderManagement_GetMachineSidForRecorder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRemoteRecorderManagement" type="tns:IRemoteRecorderManagement">
    <wsp:PolicyReference URI="#BasicHttpBinding_IRemoteRecorderManagement_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRemoteRecordersById">
      <soap:operation soapAction="http://tempuri.org/IRemoteRecorderManagement/GetRemoteRecordersById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRemoteRecordersByExternalId">
      <soap:operation soapAction="http://tempuri.org/IRemoteRecorderManagement/GetRemoteRecordersByExternalId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRemoteRecorderExternalId">
      <soap:operation soapAction="http://tempuri.org/IRemoteRecorderManagement/UpdateRemoteRecorderExternalId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListRecorders">
      <soap:operation soapAction="http://tempuri.org/IRemoteRecorderManagement/ListRecorders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ScheduleRecording">
      <soap:operation soapAction="http://tempuri.org/IRemoteRecorderManagement/ScheduleRecording" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ScheduleRecurringRecording">
      <soap:operation soapAction="http://tempuri.org/IRemoteRecorderManagement/ScheduleRecurringRecording" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRecordingTime">
      <soap:operation soapAction="http://tempuri.org/IRemoteRecorderManagement/UpdateRecordingTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRecordingSettings">
      <soap:operation soapAction="http://tempuri.org/IRemoteRecorderManagement/UpdateRecordingSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefaultFolderForRecorder">
      <soap:operation soapAction="http://tempuri.org/IRemoteRecorderManagement/GetDefaultFolderForRecorder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMachineSidForRecorder">
      <soap:operation soapAction="http://tempuri.org/IRemoteRecorderManagement/GetMachineSidForRecorder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IRemoteRecorderManagement1" type="tns:IRemoteRecorderManagement">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRemoteRecordersById">
      <soap:operation soapAction="http://tempuri.org/IRemoteRecorderManagement/GetRemoteRecordersById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRemoteRecordersByExternalId">
      <soap:operation soapAction="http://tempuri.org/IRemoteRecorderManagement/GetRemoteRecordersByExternalId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRemoteRecorderExternalId">
      <soap:operation soapAction="http://tempuri.org/IRemoteRecorderManagement/UpdateRemoteRecorderExternalId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListRecorders">
      <soap:operation soapAction="http://tempuri.org/IRemoteRecorderManagement/ListRecorders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ScheduleRecording">
      <soap:operation soapAction="http://tempuri.org/IRemoteRecorderManagement/ScheduleRecording" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ScheduleRecurringRecording">
      <soap:operation soapAction="http://tempuri.org/IRemoteRecorderManagement/ScheduleRecurringRecording" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRecordingTime">
      <soap:operation soapAction="http://tempuri.org/IRemoteRecorderManagement/UpdateRecordingTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRecordingSettings">
      <soap:operation soapAction="http://tempuri.org/IRemoteRecorderManagement/UpdateRecordingSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefaultFolderForRecorder">
      <soap:operation soapAction="http://tempuri.org/IRemoteRecorderManagement/GetDefaultFolderForRecorder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMachineSidForRecorder">
      <soap:operation soapAction="http://tempuri.org/IRemoteRecorderManagement/GetMachineSidForRecorder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RemoteRecorderManagement">
    <wsdl:port name="BasicHttpBinding_IRemoteRecorderManagement" binding="tns:BasicHttpBinding_IRemoteRecorderManagement">
      <soap:address location="https://demo.hosted.panopto.com/Panopto/PublicAPI/4.2/RemoteRecorderManagement.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IRemoteRecorderManagement1" binding="tns:BasicHttpBinding_IRemoteRecorderManagement1">
      <soap:address location="http://demo.hosted.panopto.com/Panopto/PublicAPI/4.2/RemoteRecorderManagement.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>