PanoptoScheduleUploader.Services/Service References/UsageManagement/UsageReporting.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UsageReporting" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IUsageReporting_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://192.168.200.184/Panopto/PublicAPISSL/4.2/UsageReporting.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://192.168.200.184/Panopto/PublicAPISSL/4.2/UsageReporting.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://192.168.200.184/Panopto/PublicAPISSL/4.2/UsageReporting.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Panopto.Server.Services.PublicAPI.V40" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsageReporting_GetSystemSummaryUsage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSystemSummaryUsage" />
  </wsdl:message>
  <wsdl:message name="IUsageReporting_GetSystemSummaryUsage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSystemSummaryUsageResponse" />
  </wsdl:message>
  <wsdl:message name="IUsageReporting_GetFolderSummaryUsage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFolderSummaryUsage" />
  </wsdl:message>
  <wsdl:message name="IUsageReporting_GetFolderSummaryUsage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFolderSummaryUsageResponse" />
  </wsdl:message>
  <wsdl:message name="IUsageReporting_GetSessionSummaryUsage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSessionSummaryUsage" />
  </wsdl:message>
  <wsdl:message name="IUsageReporting_GetSessionSummaryUsage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSessionSummaryUsageResponse" />
  </wsdl:message>
  <wsdl:message name="IUsageReporting_GetSessionDetailedUsage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSessionDetailedUsage" />
  </wsdl:message>
  <wsdl:message name="IUsageReporting_GetSessionDetailedUsage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSessionDetailedUsageResponse" />
  </wsdl:message>
  <wsdl:message name="IUsageReporting_GetUserDetailedUsage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDetailedUsage" />
  </wsdl:message>
  <wsdl:message name="IUsageReporting_GetUserDetailedUsage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDetailedUsageResponse" />
  </wsdl:message>
  <wsdl:message name="IUsageReporting_GetSessionUserDetailedUsage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSessionUserDetailedUsage" />
  </wsdl:message>
  <wsdl:message name="IUsageReporting_GetSessionUserDetailedUsage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSessionUserDetailedUsageResponse" />
  </wsdl:message>
  <wsdl:portType name="IUsageReporting">
    <wsdl:operation name="GetSystemSummaryUsage">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsageReporting/GetSystemSummaryUsage" message="tns:IUsageReporting_GetSystemSummaryUsage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsageReporting/GetSystemSummaryUsageResponse" message="tns:IUsageReporting_GetSystemSummaryUsage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFolderSummaryUsage">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsageReporting/GetFolderSummaryUsage" message="tns:IUsageReporting_GetFolderSummaryUsage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsageReporting/GetFolderSummaryUsageResponse" message="tns:IUsageReporting_GetFolderSummaryUsage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSessionSummaryUsage">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsageReporting/GetSessionSummaryUsage" message="tns:IUsageReporting_GetSessionSummaryUsage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsageReporting/GetSessionSummaryUsageResponse" message="tns:IUsageReporting_GetSessionSummaryUsage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSessionDetailedUsage">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsageReporting/GetSessionDetailedUsage" message="tns:IUsageReporting_GetSessionDetailedUsage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsageReporting/GetSessionDetailedUsageResponse" message="tns:IUsageReporting_GetSessionDetailedUsage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserDetailedUsage">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsageReporting/GetUserDetailedUsage" message="tns:IUsageReporting_GetUserDetailedUsage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsageReporting/GetUserDetailedUsageResponse" message="tns:IUsageReporting_GetUserDetailedUsage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSessionUserDetailedUsage">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsageReporting/GetSessionUserDetailedUsage" message="tns:IUsageReporting_GetSessionUserDetailedUsage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsageReporting/GetSessionUserDetailedUsageResponse" message="tns:IUsageReporting_GetSessionUserDetailedUsage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUsageReporting" type="tns:IUsageReporting">
    <wsp:PolicyReference URI="#BasicHttpBinding_IUsageReporting_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSystemSummaryUsage">
      <soap:operation soapAction="http://tempuri.org/IUsageReporting/GetSystemSummaryUsage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFolderSummaryUsage">
      <soap:operation soapAction="http://tempuri.org/IUsageReporting/GetFolderSummaryUsage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSessionSummaryUsage">
      <soap:operation soapAction="http://tempuri.org/IUsageReporting/GetSessionSummaryUsage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSessionDetailedUsage">
      <soap:operation soapAction="http://tempuri.org/IUsageReporting/GetSessionDetailedUsage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserDetailedUsage">
      <soap:operation soapAction="http://tempuri.org/IUsageReporting/GetUserDetailedUsage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSessionUserDetailedUsage">
      <soap:operation soapAction="http://tempuri.org/IUsageReporting/GetSessionUserDetailedUsage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsageReporting">
    <wsdl:port name="BasicHttpBinding_IUsageReporting" binding="tns:BasicHttpBinding_IUsageReporting">
      <soap:address location="https://192.168.200.184/Panopto/PublicAPISSL/4.2/UsageReporting.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>