PanoptoScheduleUploader.Services/Service References/UsageManagement/UsageReporting2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://192.168.200.184/Panopto/PublicAPISSL/4.2/UsageReporting.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Panopto.Server.Services.PublicAPI.V40" />
  <xs:import schemaLocation="https://192.168.200.184/Panopto/PublicAPISSL/4.2/UsageReporting.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetSystemSummaryUsage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Panopto.Server.Services.PublicAPI.V40" minOccurs="0" name="auth" nillable="true" type="q1:AuthenticationInfo" />
        <xs:element minOccurs="0" name="beginRange" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endRange" type="xs:dateTime" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Panopto.Server.Services.PublicAPI.V40" minOccurs="0" name="granularity" type="q2:UsageGranularity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemSummaryUsageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Panopto.Server.Services.PublicAPI.V40" minOccurs="0" name="GetSystemSummaryUsageResult" nillable="true" type="q3:ArrayOfSummaryUsageResponseItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFolderSummaryUsage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Panopto.Server.Services.PublicAPI.V40" minOccurs="0" name="auth" nillable="true" type="q4:AuthenticationInfo" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="folderId" type="q5:guid" />
        <xs:element minOccurs="0" name="beginRange" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endRange" type="xs:dateTime" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Panopto.Server.Services.PublicAPI.V40" minOccurs="0" name="granularity" type="q6:UsageGranularity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFolderSummaryUsageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Panopto.Server.Services.PublicAPI.V40" minOccurs="0" name="GetFolderSummaryUsageResult" nillable="true" type="q7:ArrayOfSummaryUsageResponseItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionSummaryUsage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Panopto.Server.Services.PublicAPI.V40" minOccurs="0" name="auth" nillable="true" type="q8:AuthenticationInfo" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionId" type="q9:guid" />
        <xs:element minOccurs="0" name="beginRange" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endRange" type="xs:dateTime" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Panopto.Server.Services.PublicAPI.V40" minOccurs="0" name="granularity" type="q10:UsageGranularity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionSummaryUsageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Panopto.Server.Services.PublicAPI.V40" minOccurs="0" name="GetSessionSummaryUsageResult" nillable="true" type="q11:ArrayOfSummaryUsageResponseItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionDetailedUsage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Panopto.Server.Services.PublicAPI.V40" minOccurs="0" name="auth" nillable="true" type="q12:AuthenticationInfo" />
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionId" type="q13:guid" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Panopto.Server.Services.PublicAPI.V40" minOccurs="0" name="pagination" nillable="true" type="q14:Pagination" />
        <xs:element minOccurs="0" name="beginRange" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endRange" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionDetailedUsageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Panopto.Server.Services.PublicAPI.V40" minOccurs="0" name="GetSessionDetailedUsageResult" nillable="true" type="q15:DetailedUsageResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDetailedUsage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Panopto.Server.Services.PublicAPI.V40" minOccurs="0" name="auth" nillable="true" type="q16:AuthenticationInfo" />
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q17:guid" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Panopto.Server.Services.PublicAPI.V40" minOccurs="0" name="pagination" nillable="true" type="q18:Pagination" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDetailedUsageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Panopto.Server.Services.PublicAPI.V40" minOccurs="0" name="GetUserDetailedUsageResult" nillable="true" type="q19:DetailedUsageResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionUserDetailedUsage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Panopto.Server.Services.PublicAPI.V40" minOccurs="0" name="auth" nillable="true" type="q20:AuthenticationInfo" />
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionId" type="q21:guid" />
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q22:guid" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Panopto.Server.Services.PublicAPI.V40" minOccurs="0" name="pagination" nillable="true" type="q23:Pagination" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionUserDetailedUsageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Panopto.Server.Services.PublicAPI.V40" minOccurs="0" name="GetSessionUserDetailedUsageResult" nillable="true" type="q24:DetailedUsageResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>